.chessbutton {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-color: #993333;
    -fx-border-size: 2px;
    -fx-font-size: 20px;

}

.brown{
    -fx-background-color: #993333;
}

.white{
    -fx-background-color: #ffffff;
}

.chessbutton:hover {
    -fx-background-color: #009944;
}

.chessbutton-active {
    -fx-background-color: #aaaaaa;
}

.move-move {
    -fx-background-color: #00ff00;
}

.move-kill {
    -fx-background-color: #ff0000;
}